body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: #ffffff;
  overflow: auto;
  width: 100%;
}

nav {
  padding: 25px 25px 20px 25px;
  float:right;
}

#navbar{
  width: 960px;
  margin: auto; 
}

#name{
  background-color: #4aaaa5;
  color: #ffffff;
  float: left;
  padding: 21px;
  font-size: 24px; 
  text-decoration: none; 
  font-family: 'Georgia', Times, Times New Roman, serif;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right a {
  color: #777777;
  text-align: center;
  padding: 20px; 
  text-decoration: none;
  font-size: 16px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  overflow: auto;
}

.bio {
  width: 920px;
  margin: auto; 
  background-color: white; 
  margin-top: 30px;  
  margin-bottom: 200px; 
  padding: 0px 20px 20px 20px; 
}

.bio p {
  color: #777777;
  padding: 20px 50px 15px 0px; 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: white; 
  border-left: 10px; 
  height: 300px;  
  line-height: 1.5; 
  overflow: auto; 
  border-top: 2px solid #dddddd;
}


.bio h1 {
  background-color: white; 
  margin-bottom: 0; 
  padding: 15px 50px 15px 0px;
  color: #4aaaa5;
  font-size: 24px; 
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.profileimg {
  float:left; 
  max-width: 300px; 
  max-height: 300px; 
  padding-right: 20px; 
  padding-top: 6px; 
}
footer {
  position: fixed; 
  text-align: center; 
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 10px;
  background-color: #666666; 
  border-top: 10px solid #4aaaa5;
  left: 0; 
  bottom: 0; 
  color: white; 
}

html {
  background-color: #dddddd; 
  z-index: -1; 
}

.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

@media screen and (max-width: 980px) {

  #navbar {
    width: auto;
  }

  #name {
    margin-left: 20px; 
  }

  .bio {
    width: auto; 
    height: auto;
    margin-right: 300px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .bio p {
    border-top: 2px solid #dddddd;
    padding: 10px 50px 0px 0px; 
  }

  .profileimg {
    margin-left: -20px; 
    margin-top: 6px; 
  }
}

@media screen and (max-width: 768px) {

  .bio {
    margin-left: 20px;
    margin-right: 20px; 
  }
}

@media screen and (max-width: 640px) {
  header {
    overflow: hidden;
    width: 650px; 
    position: static;
  }

  #name {  
    width: 100%;
    display: block; 
    clear: both;
    margin-left: -20px;
    text-align: center;
  }

  .topnav-right a {
    padding: 10px 100px 10px 10px;
    font-size: 16px;
  }

  html {
    zoom: 100%;
  }
}

@media screen and (max-width: 505px) {
  header {
    width: auto;
  }
  
  .topnav-right a{
    margin: 0px 0px 0px -300px;
    border: 0;
    flex-wrap: wrap;
    display: flex; 
    justify-content: center;
  }

  .bio p {
    height: 700px;
  }
}
